body {
    background-color: #87A2FB;
    color: #000000;
}

.linkedin {
    color:#ADDDD0;
}

.linkedin:visited {
    color:#ADDDD0;
}

h1 {
    color:#EEEEEE;
}


nav {
    background-color: #EEEEEE; 
}

nav a {
    color:#6F38C5;
}

nav {
    text-align: center  ;
}

nav a:hover {
    background-color: #ADDDD0;
}

nav {
    padding: 10px;
    margin-bottom: 10px;
}

.heading {text-align: center;}
.subheading {text-align: center;}

.cybersecurity, .dj, .skiing, .sql, .stickshift{
    width: 30%;
}

.flexbox2 {display:flex; padding: 20px;}
.icon {display: flex;
       flex: 3;
       justify-content: space-evenly;
}

.skiing {width: 30%;}

.other {
    background-color: #1ee238;
    border: 1px solid #F0A500;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}

@media only screen and (max-width: 1000px) {
    nav {width: 100%;}
}

@media only screen and (max-width: 1000px) {
    .pipe {display:none;}
    .biolink {padding:20px;}
    .skillslink {padding:20px;}
    .contactlink {padding:20px;}
}

.skip {
    background-color: #f19d01;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: -999px; /* pushes it off screen */
}
.skip:focus {
    left: 10px;
}