body {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    color:blueviolet;
}

.evenrow {
    color:blue;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}